body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}

header {
    background-color: black;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.song-card {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.song-card:hover {
    background-color: #282828;
    transform: scale(1.05);
}

.song-card img {
    width: 100%;
    border-radius: 10px;
}

.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    padding: 15px;
    text-align: center;
} 