* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #141E30, #243B55, #1f4037, #99f2c8);
    background-size: 400% 400%;
    animation: bgMove 12s ease infinite;
    color: white;
}

@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.app {
    width: 1200px;
    height: 750px;
    display: flex;
    border-radius: 40px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);
    box-shadow: 0 40px 80px rgba(0,0,0,0.7);
    overflow: hidden;
}

.left {
    flex: 2;
    padding: 40px;
    text-align: center;
}

.right {
    flex: 1;
    padding: 40px;
    background: rgba(0,0,0,0.4);
    overflow-y: auto;
}

.right h3 {
    margin-bottom: 20px;
}

.right ul {
    list-style: none;
}

.right li {
    padding: 15px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.right li:hover {
    background: rgba(255,255,255,0.3);
}

.right li.active {
    background: linear-gradient(45deg, red, orange);
}

.cd-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.cd {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: radial-gradient(circle at center,
        #000 0%,
        #111 10%,
        #8b0000 25%,
        #ff0000 55%,
        #b30000 75%,
        #550000 100%);
    box-shadow: 
        0 30px 60px rgba(0,0,0,0.8),
        inset 0 0 40px rgba(255,255,255,0.2);
}

.cd.playing {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.controls button {
    width: 800px;
    height: 800px;
    font-size: 300px;
    border-radius: 100%;
    border: none;
    background: linear-gradient(45deg, #ff0000, #ff7300);
    cursor: pointer;
    margin-bottom: 200px;
}

.progress-container {
    height: 10px;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.progress {
    height: 100%;
    width: 0%;
    background: red;
    border-radius: 20px;
}

.time {
    display: flex;
    justify-content: space-between;
}