*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

.logo{
margin-bottom:20px;
}

.music-container{
background:#111;
padding:30px;
border-radius:20px;
width:320px;
text-align:center;
box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

.cover{
width:200px;
height:200px;
border-radius:50%;
margin-bottom:20px;
animation: rotate 5s linear infinite;
animation-play-state: paused;
}

.cover.play{
animation-play-state: running;
}

@keyframes rotate{
from{ transform:rotate(0deg); }
to{ transform:rotate(360deg); }
}

.progress-container{
background:#333;
height:8px;
width:100%;
border-radius:10px;
cursor:pointer;
margin:15px 0;
}

.progress{
background:linear-gradient(45deg,red,orange);
height:100%;
width:0%;
border-radius:10px;
}

.controls button{
background:none;
border:none;
color:white;
font-size:25px;
margin:10px;
cursor:pointer;
}