*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#141E30,#243B55);
color:white;
transition:0.4s;
}

/* HOME */
.home{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.home h1{
font-size:50px;
margin-bottom:30px;
}

.home button{
padding:15px 25px;
font-size:18px;
border:none;
border-radius:10px;
background:linear-gradient(45deg,red,orange);
color:white;
cursor:pointer;
}

/* APP */
.app{
padding:20px;
position:relative;
}

.theme-btn{
position:absolute;
top:10px;
right:10px;
padding:8px 15px;
border:none;
border-radius:20px;
cursor:pointer;
background:linear-gradient(45deg,orange,red);
color:white;
}

#searchBar{
width:100%;
padding:10px;
margin-bottom:20px;
border-radius:10px;
border:none;
}

/* NOW PLAYING */
.now-playing{
text-align:center;
margin-bottom:20px;
}

.now-playing img{
width:150px;
height:150px;
border-radius:20px;
margin-bottom:10px;
animation:rotate 6s linear infinite;
}

@keyframes rotate{
from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}

/* COLUMNS */
.columns{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.column{
flex:1;
min-width:200px;
background:rgba(255,255,255,0.1);
padding:15px;
border-radius:15px;
}

.column ul{
list-style:none;
}

.column li{
display:flex;
align-items:center;
margin-bottom:10px;
cursor:pointer;
background:rgba(255,255,255,0.1);
padding:8px;
border-radius:10px;
transition:0.3s;
}

.column li:hover{
background:linear-gradient(45deg,red,orange);
}

.column img{
width:50px;
height:50px;
border-radius:8px;
margin-right:10px;
}

audio{
width:100%;
margin-top:15px;
}

#volume{
width:100%;
margin-top:10px;
}

/* LIGHT MODE */
.light-mode{
background:linear-gradient(135deg,#ffffff,#dfe9f3);
color:black;
}

.light-mode .column{
background:rgba(0,0,0,0.1);
}