*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
background:linear-gradient(-45deg,#141E30,#243B55,#000,#1f1c2c);
background-size:400% 400%;
animation:gradient 10s ease infinite;
color:white;
overflow-x:hidden;
}

@keyframes gradient{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* HOME */
.home{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.hero-card{
background:rgba(255,255,255,0.1);
padding:40px;
border-radius:20px;
backdrop-filter:blur(15px);
text-align:center;
}

.hero-card h1{
font-size:45px;
}

.hero-card button{
margin-top:20px;
padding:12px 25px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,red,orange);
color:white;
cursor:pointer;
}

/* APP */
.app{
padding:20px;
}

/* SEARCH */
#searchBar{
width:100%;
padding:12px;
border-radius:20px;
border:none;
margin-bottom:20px;
}

/* SONG GRID */
.song-grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
gap:20px;
}

.song-card{
background:rgba(255,255,255,0.1);
padding:10px;
border-radius:15px;
cursor:pointer;
transition:0.3s;
text-align:center;
}

.song-card:hover{
transform:scale(1.05);
background:linear-gradient(45deg,red,orange);
}

.song-card img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

/* PLAYER VIEW */
.player-view{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-size:cover;
background-position:center;
display:none;
justify-content:center;
align-items:center;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(8px);
}

.center-player{
position:relative;
z-index:2;
text-align:center;
}

/* CD */
.cd{
width:250px;
height:250px;
border-radius:50%;
background-size:cover;
background-position:center;
margin:auto;
position:relative;
box-shadow:0 30px 60px rgba(0,0,0,0.8);
}

.cd::after{
content:"";
position:absolute;
width:40px;
height:40px;
background:black;
border-radius:50%;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.cd.playing{
animation:spin 4s linear infinite;
}

@keyframes spin{
from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}

.back-btn{
margin-top:20px;
padding:10px 20px;
border:none;
border-radius:20px;
background:linear-gradient(45deg,red,orange);
color:white;
cursor:pointer;
}